.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--gap-md);
    overflow: hidden;
    animation: allFade 0.5s ease-in-out forwards;

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: var(--gap-sm);

        .noPost{
            display: flex;
            justify-content: center;
            align-items: end;
            width: 100%;
            height: 40dvh;
            color: var(--text-g);
            font-size: var(--fnt-sz-md);
            font-weight: var(--fnt-wg-md);
        }
    }
}

@keyframes allFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }